
/* Joe's Styles */

/* import google font */

@import url(http://fonts.googleapis.com/css?family=Francois+One);

/* wrap contect */

#wrapper {
  
  width: 575px;
  
  display: block;
  border: 1px dashed rgb(244, 242, 244);
  margin: 0 auto;
  margin-top: 30px;

  padding: 50px;
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  font-family: 'Francois One', sans-serif;

}

/* style event boxes */

#eventboxleft {

  width: 270px;
  height: 115px;
  border: 1px dashed white;
  background-color: rgb(219, 219, 219);
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 7px rgb(100, 100, 100);


}

#eventboxright {

  float: right;
  width: 270px;
  height: 115px;
  border: 1px dashed white;
  background-color: rgb(219, 219, 219);
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 7px rgb(100, 100, 100);

}

#eventboxresetall {

  width: 270px;
  height: 115px;
  border: 1px dashed white;
  background-color: rgb(219, 219, 219);
  display: inline-block;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0px 0px 7px rgb(100, 100, 100);


}

#eventboxlogout {

  float: right;
  width: 270px;
  height: 115px;
  border: 1px dashed white;
  background-color: rgb(219, 219, 219);
  display: inline-block;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0px 0px 7px rgb(100, 100, 100);

}

#eventboxlogoutbig {

  
  width: 575px;
  height: 115px;
  border: 1px dashed white;
  background-color: rgb(219, 219, 219);
  display: inline-block;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0px 0px 7px rgb(100, 100, 100);

}

#eventboxleft:hover {

  background-color: rgb(73, 241, 112);

}

#eventboxright:hover {

  background-color: rgb(135, 156, 207);

}

#eventboxresetall:hover {

  background-color: rgb(255, 255, 34);

}

#eventboxlogout:hover {

  background-color: rgb(255, 125, 34);

}

#eventboxlogoutbig:hover {

  background-color: rgb(255, 125, 34);

}

/* style text */

#assignmenttxt {

  font-size: 13px;
  text-align: justify;
  color: rgb(78, 85, 108);
}

#assignmenthead {

  font-size: 16px;
  color: rgb(78, 85, 108);
}

#eventtxt {

  text-align: center;
  font-size: 10px;
}

#centerimg { 

  display: block;
  margin: 0 auto;
}

h1 {

  font-size: 38px;
  text-align: center;
  color: rgb(78, 85, 108);
}

h2 {

  font-size: 26px;
  text-align: center;
  color: rgb(78, 85, 108);
}

h3 {

  font-size: 26px;
  text-align: left;
  color: rgb(78, 85, 108);
}

small {

  font-size: 13px;
  text-align: center;
  color: rgb(78, 85, 108);
  font-family: 'Francois One', sans-serif;
  margin-top: 20px;

}

p  {

  font-size: 20px;
  text-align: center;
  color: rgb(78, 85, 108);
}

a {

  text-decoration: none;
  color: rgb(73, 73, 73);

}

small {

  display: block;
}

input {
      
      font-family: 'Francois One', sans-serif;
      width: 100%;
      font-size:   20px; 
      padding:     0.1em;
      height: 53px; 
      

} 